NODE_ENV=development
PORT=5000

MONGODB_URI=mongodb://127.0.0.1:27017/lms

JWT_SECRET=replace with any strong key
JWT_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

CLIENT_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_ALLOW_SELF_SIGNED=true
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
RESET_PASSWORD_EXPIRES_MINUTES=15

UPLOAD_PATH=uploads/